.title {
    font-size: 24px;
    max-width: 50%;
}

.card {
    border-radius: 8px;
    margin-bottom: 5%;
}

.titleBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
