
.card {
    border-radius: 8px;
    margin-bottom: 5%;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.posVal {
    color: var(--color-5);
}

.negVal {
    color: var(--color-6);
}