:root {
  --color-1: #EAEAEA;
  --color-2: #161616;
  --color-3: #F37A51;
  --color-4: #27292B;
  --color-5: #65CF70;
  --color-6: #EB5151;

  --theme-font-family-1: "Open Sans";

  --theme-font-color-1: var(--color-1);
  --theme-accent-color-1: var(--color-3);
  --theme-error-color-1: var(--color-6);
  --theme-success-color-1: var(--color-5);
  --theme-background-color-1: var(--color-2);
  --theme-background-color-2: var(--color-4);
}

html {
  font-family: var(--theme-font-family-1);
  color: var(--theme-font-color-1);
  text-size-adjust: none;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
}