.estimation {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.title {
  margin-block-start: 40px;
  margin-block-end: 16px;

  font-size: 24px;
  font-weight: 600;
  line-height: 33px;
}

.name {
  margin: 0;

  font-size: 24px;
  font-weight: 400;
  line-height: 27px;
}
